{% extends 'base.html.twig' %}

   {% block stylesheets %}
    <!-- <link rel="stylesheet" type="text/css" href="{{asset('/CSS/artprofil.css')}}" media="screen"> -->
 {% endblock %} {% block body %}

<div class="row head">
    <div class="small-6 large-8 columns ">
        <div class="media-object">
            <div class="media-object-section">
                <div class="thumbnail">
                    <a href="http://placehold.it"><img src="{{asset('http://placehold.it/150x150')}}"></a>
                </div>
            </div>
            <div class="media-object-section ">
                <h5>user.name}}</h5>
                <h4><small><i>profession</i></small></h4>
                <p>So, once we've made the plant, how do we go out? Hope you have something more elegant in mind than shooting me in the head? A kick. What's a kick? This, Ariadne, would be a kick.</p>

            </div>
            <a href="{{asset('https://openclassrooms.com')}}"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                Ajouter à ma wishlist</a>
        </div>
    </div>

    <div class="small-12 large-4 columns">
        <div class="media-object">
            <div class="media-object- responsive-embed">
                <iframe src="//www.youtube.com/embed/GAQ8PePmN6w" width="600" height="300"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Section Gallery -->

 <div class="row">
    <div class="small-10 large-12 columns ">
        <div class="media-object">
            <div class="media-object-section">
                <div class="thumbnail">
                    <a href="http://placehold.it"><img src="{{asset('http://placehold.it/150x150')}}"></a>
                </div>
            </div>
            <div class="media-object-section ">
                <h5>Série</h5>
                <p>So, once we've made the plant, how do we go out? Hope you have something more elegant in mind than shooting me in the head? A kick. What's a kick? This, Ariadne, would be a kick.</p>
            </div>
        </div>
    </div>

<div class="row">
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
</div>

<div class="row">
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
</div>

<div class="row">
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
    <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
</div>
</div>

<div class="row">
   <div class="small-10 large-12 columns ">
       <div class="media-object">
           <div class="media-object-section">
               <div class="thumbnail">
                   <a href="http://placehold.it"><img src="{{asset('http://placehold.it/150x150')}}"></a>
               </div>
           </div>
           <div class="media-object-section ">
               <h5>Série</h5>
               <p>So, once we've made the plant, how do we go out? Hope you have something more elegant in mind than shooting me in the head? A kick. What's a kick? This, Ariadne, would be a kick.</p>
           </div>
       </div>
   </div>

<div class="row">
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
</div>

<div class="row">
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
</div>

<div class="row">
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
   <div class="large-2 columns"><a href="http://placehold.it"><img class="thumbnail" src="{{asset('http://placehold.it/100x100')}}"></a></div>
</div>
</div>




{% endblock %}


{% block javascripts %}


{% endblock %}
