{% extends "::base.html.twig" %} {% block title %}AppBundle:Landing:index{% endblock %} {% block body %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('/CSS/landing.css')}}">
{% endblock %}


<div class="container-fluid">
    <div class="imgLAND">
    <!--  <img id="imgLAND" alt="" src="{{asset('/img/backgroundLAND/fong.jpg')}}"/>  -->
    <a href="http://placehold.it"><img src="http://placehold.it/1900x450"></a>
    </div>

    <div id="recherche">

    </div>

<div id="carouselExpo">
    <h2> Les rendez vous de la semaine </h2>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    {% set imgCount = 0 %}

    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for image in images %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ imgCount }}" class="active"></li>
        {% set imgCount = imgCount + 1 %} {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% set imgCount = 0 %} {% for image in images %}
        <div class="item {% if imgCount == 0 %}active{% endif %}">
            <img id="imgExpo "src="{{ asset(image.carousselExpo) }}" alt="...">

            <div class="carousel-caption">
                ...
            </div>
        </div>
        {% set imgCount = imgCount + 1 %} {% endfor %}

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

<div id="carouselArtiste">
    <h2> Des artistes a découvrir </h2>
<div class="carousel slide" data-ride="carousel">
    {% set imgCount = 0 %}

    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for image in images %}
        <li data-target="#carouselArtiste" data-slide-to="{{ imgCount }}" class="active"></li>
        {% set imgCount = imgCount + 1 %} {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% set imgCount = 0 %} {% for image in images %}
        <div class="item {% if imgCount == 0 %}active{% endif %}">
            <img id="imgArtiste" src="{{ asset(image.carousselArtiste) }}" alt="...">

            <div class="carousel-caption">
                ...
            </div>
        </div>
        {% set imgCount = imgCount + 1 %} {% endfor %}

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carouselArtiste" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselArtiste" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>




<div>
    <div class="row video bli">
        <h2 class="H2white"> Manifeste Karism </h2>
        <div class="video">
    <iframe class="vid col-md-offset-2 col-md-8 col-xs-12"  src="//www.youtube.com/embed/GAQ8PePmN6w" allowfullscreen=""></iframe>  
        </div>
</div>


</div>
</div>
{% endblock %} {% block javascripts %}
<script type="text/javascript">
    $().ready(function() {
        $('#carousel-example-generic').carousel();
        $('#carousselArtiste').carousel();
    });
</script>
{% endblock %}
